@import "../Vars.scss";

.dropdown-container {
  position: absolute;
  background-color: white;
  border-radius: 6px;
  padding: 18px 38px 18px 10px;
  margin-left: 38px;
  display: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  z-index: 12;
}

.dropdown-active {
  display: block;
  animation-name: growIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.dropdown-content li {
  margin-bottom: 14px;
  font-size: $sm;
}

.dropdown-content input {
  height: 8px;
}

.dropdown-content li:last-child {
  margin-bottom: 0;
}

//Keyframes
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .dropdown-container {
    margin-top: 180px;
    margin-left: -80px;
  }
}
