@import "../Vars.scss";

.input-container {
  position: relative;
  width: 100%;
}

.input {
  font-size: $sm;
  border: none;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 0px 4px;
  width: 98%;
  height: 38px;
}

.label {
  color: $gray;
  font-size: $sm;
  position: absolute;
  left: 4px;
  top: 12px;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-2em);
}

.input::placeholder {
  color: transparent;
}
