@import "./Vars.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  position: relative;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -300px;
  padding: 24px;
}

.main-content.active {
  margin-left: -300px;
}

// Margins
.ml-1 {
  margin-left: 5px;
}

// Buttons
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  // width: 100px;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1 px solid transparent;
  padding: 6px 12px;
  font-size: $md;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// .btn-md {
//   width: 80px;
// }

// .btn-sm {
//   font-size: $sm;
//   width: 50px;
// }

.btn-blue {
  border: 1px solid $blue;
  color: $blue;
}

.btn-blue:hover {
  background-color: $blue;
  color: white;
}

.btn-red {
  background-color: $red;
  color: white;
}

.btn-red:hover {
  background-color: $dark-red;
}

.btn-info {
  background-color: $dark-blue;
  color: white;
}

.btn-info:hover {
  background-color: $very-dark-blue;
}

// Badge
.badge {
  display: inline-block;
  padding: 4px 6px;
  font-size: $sm;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
}

.badge-blue {
  color: white;
  background-color: $blue;
}

.badge-green {
  color: white;
  background-color: rgb(126, 206, 7);
}

.badge-yellow {
  color: white;
  background-color: rgb(218, 218, 0);
}

.bg-light {
  background-color: $very-light-gray;
}

.boder-radius-none {
  border-radius: 0;
}

.border-bottom {
  border-bottom: $blue solid 1px;
}

// Media queries
@media (min-width: 992px) {
  .main-content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
}
