@import "./Vars.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-container {
  display: flex;
  height: 100%;
}

.main-content {
  position: relative;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -300px;
  padding: 24px;
}

.main-content.active {
  margin-left: -300px;
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 0;
    transition: margin 0.5s ease-in-out;
  }
}