@import "./Vars.scss";

.form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 48px;
  animation-name: fadeDown;
  animation-duration: 0.8s;
}

.form-content {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2) !important;
  padding: 28px 20px;
  grid-column: 2/3;
}

.form-title {
  font-size: $lg;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 28px;
  text-align: center;
  border-bottom: 1px solid $gray;
}

.form-content .btn {
  margin-bottom: 10px;
}

.form-input {
  background-color: white;
  border: 1px solid $light-gray;
}

.form-btn-container {
  display: flex;
  flex-direction: column;
}

.form-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

// Media queries
@media (max-width: 992px) {
  .search-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .form-container {
    grid-template-columns: 1fr;
  }

  .form-content {
    grid-column: 1;
  }

  .form-select {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
