@import './vars.css';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 88px;
  height: 40px;
}

nav .nav-brand {
  font-weight: 700;
  color: var(--light-secondary);
}

nav .nav-brand:hover {
  opacity: 0.8;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  width: 72px;
  cursor: pointer;
  font-size: var(--md);
}

.btn-toggle i {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-primary);
}

.btn-toggle i.active {
  color: var(--light-secondary);
  background-color: var(--dark);
}

.btn-toggle i.fa-sun {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.btn-toggle i.fa-moon {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

nav .nav-item a {
  font-size: var(--md);
}

nav .nav-item a:hover {
  color: var(--light-secondary);
}
