@import '../vars.css';

.projects-card,
.page-projects-card {
  background-color: var(--very-dark-primary);
  border-radius: 8px;
  transition: 450ms all;
}

.projects-card:hover,
.page-projects-card:hover {
  color: var(--very-light-secondary);
  transform: scale(1.05);
}

.projects-card img,
.page-projects-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  filter: brightness(.9)
}

.projects-card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  padding: 16px 12px 24px;
}

.projects-card-title {
  font-size: var(--xl);
  font-weight: 700;
  color: var(--light-secondary);
}

.projects-card-small {
  font-size: var(--sm);
  color: var(--light-secondary);
}

.projects-card-text {
  font-size: var(--md);
}
