@import '../vars.css';

.experience-item {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 0.5px var(--very-light-secondary) solid;
}

.experience-item:last-child {
  border: none;
  padding: 0;
  margin: 0;
}

.experience-subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--light-secondary);
}

.experience-subtitle p {
  font-weight: 700;
  font-size: var(--xl);
}

.experience-small {
  font-size: var(--sm);
  font-weight: 400;
  color: var(--light-secondary);
}

.experience-content {
  font-size: var(--md);
}

.experience-badges {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.experience img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: white;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
