@import "../vars.css";

.experience {
  background-color: var(--very-dark-primary);
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 48px;
}

.experience-title {
  font-weight: 700;
  font-size: var(--xl3);
  color: var(--light-secondary);
  margin-bottom: 24px;
}
