@import '../vars.css';

.showcase {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-bottom: 88px;
  align-items: center;
  justify-items: flex-start;
}

.showcase-title {
  font-size: var(--xl4);
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--light-secondary);
}

.showcase-content {
  font-size: var(--xl);
  width: 570px;
}

.showcase img {
  height: 320px;
  border-radius: 8px;
}
